@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["About"];
}

<h1>@SharedLocalizer["AboutContext1"]</h1>
<h2>@SharedLocalizer["AboutContext2"]</h2>
